<header>
    <img
        src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.6435-9/81236511_1293985774137979_3786635960645582848_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFFrK4IgvRCKOyb_hDGVe8qxldpT2JGDtDGV2lPYkYO0CUk2ijQEA9o1SdMd8IDJKD7VybHquWhNDrnoTw38fCY&_nc_ohc=sZLqvEyDnI8Q7kNvgEAEaIg&_nc_ht=scontent-gru2-2.xx&_nc_gid=AuVSHfXT8j7peae6JOlGymn&oh=00_AYC656y12S75dwcGYE9hPpSJkLHMBIP5pTHjPRB1ZC_6jQ&oe=673DDB28"
        alt="Thaís Silva - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1> Thaís Silva </h1>
</header>

<aside>
    <div class="container">
        <p> Full-Stack Javascript | Angular | C# | JAVA | .Net Framework | .Net Core | API </p>
        <p> Mauá, São Paulo, Brasil </p>
        <p> 
            Estou na área de desenvolvimento de software há 3 anos, mas estudo há 8 anos. 
            Devido a isso percebi que gosto mais de desenvolver em back end, mas que também consigo atuar em front.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="../../../../../assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tha%C3%ADs-silva-972606146/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="../../../../../assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px" 
                    height="24px"
                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=55119xxxxxxxx&text=Oi%20Thais,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>
                            Envie uma mensagem para:
                        </strong>
                        <p>
                            WhatsApp: (11) 9 xxxx-xxxx
                        </p>
                    </a>
                </figcaption>
            </figure>
            
            <figure>
                <img 
                    src="../../../../../assets/icons/mail.svg"
                    alt="Ícone para contato do E-mail"
                    width="22px" 
                    height="24px"
                />

                <figcaption>
                    <a href="mailto:tatahcristina13@gmail.com"
                        target="_blank">
                        <strong>
                            Envie um e-mail para:
                        </strong>
                        <p>
                            tatahcristina13&#64;gmail.com
                        </p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>