<header>
    <img
        src="../../../../../assets/img/thais.JPG"
        alt="Thaís Silva - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1> Thaís Silva </h1>
</header>

<aside>
    <div class="container">
        <p> Full-Stack Javascript | Angular | C# | .Net Framework | .Net Core | API </p>
        <p> Mauá, São Paulo, Brasil </p>
        <p> 
            Estou na área de desenvolvimento de software há 3 anos, mas estudo há 8 anos. 
            Devido a isso percebi que gosto mais de desenvolver em back end, mas que também consigo atuar em front.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="../../../../../assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tha%C3%ADs-silva-972606146/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="../../../../../assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px" 
                    height="24px"
                />
            </figure>
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=55119xxxxxxxx&text=Oi%20Thais,%20preciso%20de%20um%20job!"
                    target="_blank">
                    <strong>
                        Envie uma mensagem para:
                    </strong>
                    <p>
                        WhatsApp: (11) 9 xxxx-xxxx
                    </p>
                </a>
            </figcaption>

            <figure>
                <img 
                    src="../../../../../assets/icons/mail.svg"
                    alt="Ícone para contato do E-mail"
                    width="22px" 
                    height="24px"
                />
            </figure>
            <figcaption>
                <a href="mailto:tatahcristina13@gmail.com"
                    target="_blank">
                    <strong>
                        Envie um e-mail para:
                    </strong>
                    <p>
                        tatahcristina13&#64;gmail.com
                    </p>
                </a>
            </figcaption>
        </section>
    </div>
</aside>