:root{
    --primary: #71293b;
    --primary-010: #8c162a;

    --secondary: #000068;
    --secondary-010: #1528a3;

    --white: #fff;

    --black: #080606;
    --black-010: #101013;

    --grey: #9b9ba0;
}